<%- include('partials/headers')-%>
    <main>
      <div class="hero">
        <div class="text">
            <h1>Welcome To Our Todo App</h1>
        <p>
          Stay organized, productive, and in control of your tasks. With our
          intuitive interface, you can easily create, prioritize, and manage
          your to-dos. Set due dates, reminders, and collaborate with others to
          achieve your goals. Our app is designed to help you stay focused,
          track progress, and accomplish more. We're dedicated to providing you
          with a seamless user experience. If you have any questions or need
          assistance, our support team is here to help. Thank you for choosing
          our Todo App. Let's make every day a productive one!"
        </p>
        </div>
        <a class="btn btn-secondary" href="/mylist">My List</a>
      </div>
    </main>
    <%- include('partials/footer')-%>
