<%- include('partials/headers')-%>
<main>
  <div class="hero">
    <div class="text">
      <h1>Welcome To Our Todo App</h1>
      <p>
        Stay organized and in control of your tasks with an easy-to-use
        interface. Create, prioritize, and manage to-dos, set due dates and
        reminders, and track your progress to get more done. Our Todo App helps
        you stay focused and productive every day.
      </p>
    </div>
    <a class="btn btn-secondary" href="/mylist">My List</a>
  </div>
</main>
<%- include('partials/footer')-%>
